body {
  margin: 0;
  padding: 0;
  overflow: hidden
}
nav {
  position: absolute;
  top: 101%;
  transform: translate(0%, -100%);
  background: rgb(135, 135, 135);
  width: 100%;
  height: 10%;
  z-index: 90
}
#navFunctionsContainer {
  display: flex;
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 85%
}
.nav-functions {
  width: 30%;
  height: 97%;
  border: 3px solid rgb(130, 130, 130);
  background: rgba(120, 120, 120, 0)
}
.nav-functions:active {
  background: rgba(120, 120, 120, 0.5)
}
.nav-buttons {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: none;
  width: 70%;
  height: 90%;
  background: slategray
}
header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 55, 55);
  width: 100%;
  height: 7.5%;
  background: rgb(150, 150, 150);
  font-size: 32px;
  font-weight: 800;
  font-family: times
}
main {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(165deg, rgb(240, 200, 120), rgb(150, 130, 100))
}
#pageContainer {
  position: absolute;
  top: 7.5%;
  width: 100%;
  height: 83.5%
}
#page_1 {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto
}
#daysList {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 75%;
  height: 9%;
  background: rgb(200, 170, 110);
  opacity: 0.8;
  border-radius: 10px
}
#daysContainer {
  position: relative;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
  border: 2.5px solid rgb(185, 155, 95);
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap
}
.week-day-container {
  background: rgb(195, 165, 105);
  border: 2px solid rgb(185, 155, 95);
  border-radius: 1px;
  flex-shrink: 0;
  height: 100%;
  width: 100px;
  user-select: none
}
.week-day-container:active {
  background: rgb(180, 150, 90);
  border: 2px solid rgb(175, 145, 85)
}
.week-day-container:hover {
  background: rgb(190, 160, 100);
  border: 2px solid rgb(180, 150, 90);
  text-shadow: 2px 2px 2px rgb(140, 110, 50)
}
.week-day {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
  font-size: 17.5px;
  height: 90%;
  width: 80%
}
#page_1-board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3.5px solid rgb(170, 135, 80);
  border-radius: 10px;
  background: rgb(185, 150, 95);
  padding: 6px;
  width: 75%;
  height: 70%
}
#boardHeader {
  position: absolute;
  left: -1.25%;
  top: -1%;
  width: 101%;
  height: 16%;
  font-size: 30px;
  font-weight: 800;
  color: rgb(100, 100, 120);
  font-family: times new roman;
  text-shadow: 1px 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(170, 170, 190);
  border: 2px solid rgb(165, 165, 185);
  border-radius: 10px
}
#lessonsContainer {
  position: relative;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 75%
}
.lessons-list {
  display: flex;
  width: 98%;
  height: 11.5%;
  border-radius: 5px;
  border: 2px solid rgb(155, 125, 90);
  background: rgb(165, 135, 100);
  margin-bottom: calc((100% - (12.8% * 7)) / 6)
}
.lessons-list-index {
  position: relative;
  left: 0;
  top: 0;
  width: 13.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-size: 18.5px;
  color: rgb(85, 55, 20);
  border-right: 2px solid rgb(155, 125, 90)
}
.lessons-list-name {
  position: relative;
  width: 45%;
  height: 100%;
  padding-left: 3.5px;
  display: flex;
  align-items: center;
  color: rgb(85, 55, 20);
  font-size: 18px;
  font-weight: 450;
  border-right: 2px solid rgb(155, 125, 90)
}
.lessons-list-time {
  position: relative;
  width: 17.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 55, 20);
  font-size: 16px;
  font-weight: 650;
  border-right: 2px solid rgb(155, 125, 90)
}
.lessons-list-classroom {
  position: relative;
  width: 17.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(85, 55, 20);
  font-size: 16px;
  font-weight: 650;
  border: none !important
}
.current-lesson {
  background: rgb(131, 184, 74);
  border: 2px solid rgb(101, 154, 44)
}
.current-lesson-data {
  border-right: 2px solid rgb(101, 154, 44);
  color: rgb(75, 94, 30)
}
.next-lesson {
  background: rgb(105, 135, 150);
  border: 2px solid rgb(75, 105, 120)
}
.next-lesson-data {
  border-right: 2px solid rgb(75, 105, 120);
  color: rgb(45, 65, 100)
}
.almost-ended-lesson {
  background: rgb(185, 185, 76);
  border: 2px solid rgb(155, 155, 46)
}
.almost-ended-lesson-data {
  border-right: 2px solid rgb(155, 155, 46);
  color: rgb(91, 91, 35)
}
.is-over-lesson {
  background: rgb(175, 100, 80);
  border: 2px solid rgb(155, 80, 70)
}
.is-over-lesson-data {
  border-right: 2px solid rgb(155, 80, 70);
  color: rgb(95, 50, 20)
}
#page_4 {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: none;
  left: 0;
  top: 0
}
#page_4-board {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  border: 5px solid rgb(175, 140, 90);
  background: rgb(195, 160, 110)
}
#pdf-subjects-search {
  width: 80%;
  height: 22px;
  border-radius: 10px;
  background: rgb(205, 170, 120);
  border: 3px solid rgb(225, 190, 140);
  position: absolute;
  left: 50%;
  top: 25px;
  padding-left: 4px;
  font-weight: 400;
  font-size: 16px;
  transform: translate(-50%, -50%);
  outline: none
}
#pdf-subjects-container {
  width: 85%;
  height: 80%;
  background: rgba(200, 165, 115, 0.6);
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%)
}
.pdf-subject {
  display: block;
  font-size: 20px;
  font-weight: 450;
  border-bottom: 2px solid rgb(190, 155, 105);
  color: rgb(105, 130, 250);
  text-decoration: none;
  overflow-y: auto;
  margin-left: 8px;
  margin-top: 12px
}
#page_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  pointer-events: none
}
#page_2-board {
  width: 90%;
  height: 90%;
  background: rgb(170, 135, 85);
  border-radius: 14px;
  border: 4px solid rgb(160, 125, 75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#page_2-week-day-header {
  width: 100%;
  height: 60px;
  background: rgb(150, 115, 75);
  border-radius: 14px;
  border: 4px solid rgb(125, 100, 70);
  position: absolute;
  left: -4px;
  top: -4px
}
#page_2-week-day {
  color: rgb(100, 70, 40);
  font-size: 30px;
  font-weight: 650;
  font-family: Times New Roman;
  position: absolute;
  left: 50%;
  top: 37.5%;
  transform: translate(-50%, -50%)
}
#page_2-date {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  color: rgb(70, 40, 10);
  font-size: 18px;
  font-weight: 550
}
#page_2-header-arrow-previous-container {
  width: 40px;
  height: 30px;
  border-radius: 34px;
  position: absolute;
  left: 3.5px;
  top: 50%;
  transform: translate(0%, -50%)
}
#page_2-header-arrow-next-container {
  width: 40px;
  height: 30px;
  border-radius: 34px;
  position: absolute;
  right: 3.5px;
  top: 50%;
  transform: translate(0%, -50%)
}
#page_2-header-button-previous-arrow {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background: rgb(145, 110, 70);
  border: none;
  position: absolute
}
#page_2-header-button-next-arrow {
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background: rgb(145, 110, 70);
  border: none;
  position: absolute
}
#page_2-header-button-previous-arrow:active {
  background: rgb(135, 100, 60)
}
#page_2-header-button-next-arrow:active {
  background: rgb(135, 100, 60)
}
#page_2-main-container {
  width: 90%;
  height: calc(90% - 90px);
  background: rgb(185, 150, 110);
  border: 3.5px solid rgb(165, 130, 90);
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, 0);
}
.page_2-board-subjects {
  position: relative;
  width: 100%;
  height: calc((100% / 7 - 3.5px) + 3.5px / 12);
  border-bottom: 3.5px solid rgb(165, 130, 90);
}
.page_2-board-subjects:last-child {
  border: none
}
.page_2-board-index {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: rgb(95, 60, 20);
  border-right: 3.5px solid rgb(165, 130, 90)
}
.page_2-hometask-textarea {
  position: relative;
  left: 53.5px;
  top: 0;
  background: rgb(185, 150, 110);
  border: none;
  outline: none;
  transform: translate(0%, -102.5%);
  width: calc(100% - 55px);
  height: 95%;
  font-weight: 500;
  font-size: 17px;
  color: rgb(95, 60, 20);
  display: flex;
  align-items: center;
  padding-left: 4px;
  transition: height 0.5s, top 0.5s, border 0.5s, border-radius 0.5s;
  overflow-y: auto
}
.page_2-board-subjects:first-child .page_2-hometask-textarea {
  border-top-right-radius: 26px;
}

.page_2-board-subjects:last-child .page_2-hometask-textarea {
  border-bottom-right-radius: 26px;
  top: 8%;
  height: 100%
}
.page_2-hometask-textarea:focus {
  height: calc(82.5% + 80px);
  border: 3px solid rgb(150, 115, 75);
  border-radius: 8px;
  z-index: 9999;
  align-items: flex-start;
  padding: 14px;
  top: 100px
}
#page_2-function-buttons-container {
  width: 90%;
  height: 40px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0)
}
#page_2-hometask-save {
  width: 20%;
  height: 90%;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  border-radius: 16px;
  border: 2.5px solid rgb(120, 120, 120);
  background: rgb(160, 160, 160);
  font-weight: 550;
  font-size: 15px;
  color: rgb(80, 80, 80)
}
#page_2-hometask-save:active {
  background: rgb(140, 140, 140)
}
.page_2-hometask-subject {
  position: absolute;
  right: 15px;
  top: -2px;
  color: rgba(125, 90, 50, 0.75);
  user-select: none;
  pointer-events: none;
  font-weight: 500;
  font-size: 17px;
  z-index: 999;
}
[contenteditable="true"] {
  white-space: pre-wrap;
  word-break: break-word;
  display: block;
}
#page_2-subjects-list-search {
  width: 17.5%;
  height: 75%;
  position: absolute;
  left: 77.5%;
  top: 50%;
  transform: translate(-100%, -50%);
  border-radius: 16px;
  border: 2.5px solid rgb(60, 130, 200);
  background: rgb(90, 160, 230);
  outline: none;
  font-weight: 450;
  font-size: 13px;
  color: rgb(20, 60, 130)
}
#page_2-subjects-list-search::placeholder {
  color: rgb(20, 60, 130);
  opacity: 0.4
}
#page_2-subjects-list-container {
  width: 140px;
  height: 120px;
  background: rgb(170, 180, 225);
  border: 2.5px solid rgb(140, 150, 195);
  border-radius: 10px;
  position: absolute;
  right: 35%;
  top: calc(75% + 10px);
  transform: translate(50%, 0);
  z-index: 99999;
  overflow-y: auto;
  padding: 3.5px;
  transition: opacity 0.35s, visibility 0.35s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none
}
#page_2-function-buttons-container:has(#page_2-subjects-list-search:focus) #page_2-subjects-list-container {
  visibility: visible;
  opacity: 1;
  pointer-events: auto
}
.page_2-search-subjects {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background: rgb(130, 140, 175);
  border: 1.5px solid rgb(90, 100, 135);
  margin-bottom: 1px;
  font-weight: 450;
  font-size: 16px;
  color: rgb(50, 60, 95)
}
.page_2-search-subjects:active {
  background: rgb(110, 120, 155)
  }
